<main>
    <% if (errorMessage) { %>
        <div class="user-message user-message--error">
            <%= errorMessage %>
        </div>
        <% } %>
        <div class="category_form">
            <form action="/categories/<% if (editing) { %>edit<% } else { %>new<% } %>" method="POST"
                enctype="multipart/form-data">
                <div class="form-group ">
                    <label class="form_label  " for="name">Name</label>
                    <input
                        class="category_form_name <%= validationErrors.find(e => e.param === 'name') ? 'invalid' : '' %> form-control"
                        type="text" name="name" id="name"
                        value="<% if (editing || hasError) { %><%= category.name %><% } %>">
                </div>
                <div class="form-control">
                    <label class="form_label" for="image">Image</label>
                    <input class="form-control" type="file" name="image" id="image">
                </div>
                <div class="form-group ">
                    <label class="form_label" for="description">Description</label>
                    <textarea
                        class="category_form_textarea <%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %> form-control"
                        name="description" id="description"
                        rows="5"><% if (editing || hasError) { %><%= category.description %><% } %></textarea>
                </div>
                <div class="form_btn_group">
                    <a href="/categories" class="btn_cancel">Cancel</a>
                    <button class="btn_submit" type="submit">
                        Add Category
                    </button>
                </div>
                
            </form>
        </div>
       
</main>