<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
      <main>
        
        <div class="container">
          <div class="blog_title">
            <p>Cooking Blog </p>
          </div>
          
            <% if (isAuthenticated) { %>
              <div class="action_buttons">
              <a href="/articles/new" class="action_button">New Article</a>
              <a href="/categories/new" class="action_button">New Category</a>
            </div>
              <% } %>
              <div class="action_buttons">
              <a href="/articles/random" class="action_button">Show random</a>
            </div>

            <p class="all_articles">All Articles</p>
              <% if (articles.length > 0) { %>
                <% for (let article of articles) { %>
                  <div class="article ">
                    <a href="articles/<%= article._id %>">
                    <img class=" article_img" src="/<%= article.img %>" alt="<%= article.title %>">
                  </a>
                    <div class="article_body">
                      <h4 class="article_title">
                        <%= article.title %>
                      </h4>
                      <div class="article_creation text-muted mb-2">
                        <%= article.createdAt.toLocaleDateString() %>
                      </div>

                      <div class="article_description mb-2">
                        <%= article.description %>
                      </div>

                      <div class="btn_group">
                        <a href="articles/<%= article._id %>" class="description_button btn_more">Read More</a>
                        <% if (isAuthenticated) { %>
                        <a href="articles/edit/<%= article._id %>" class="description_button btn_edit">Edit</a>
                        <form action="/articles/<%= article._id %>?_method=DELETE" method="POST" class="d-inline">
                          <button type="submit" class="description_button btn_delete">Delete</button>
                        </form>
                        <% } %>
                      </div>

                    </div>
                  </div>
                  <% } %>
                  
                  <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                
                </div>
        <% } else { %>
          <h1>No article Found!</h1>
          <% } %>
      </main>

      <%- include('../includes/end.ejs') %>