<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/stars.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
      <div class="container">
            
        <p class="recipe_title">
          <%= article.title %>
        </p>

        <div class="recipe">
          <img class="recipe_image" src="/<%= article.img %>" alt="<%= article.title %>">
          <div class="recipe_ingredients">
            <p ><a class="ingredients_pdf" href="/articles/ingredients/<%= article.slug %>">Ingredients<sup>*</sup></a></p>
            <ul class="recipe_ingredients_list">

              <% article.ingredients.forEach(function (ingredient) {%>
                <li class="single_ingredient"><%= ingredient %></li>
              <% })%>
            </ul>
              <p class="download_ingredients"><sup>*</sup>click to download ingredients</p>
         </div>
        </div>
        <div class="under_image">
          <div class="recipe_creation">
            <p> Made by:</p> <p><%= article.userId.email%></p> 
              <p><%= article.createdAt.toLocaleDateString() %></p>
          </div> 
           
          <div class="recipe_categories">
              <p>Categories:</p>
              <ul class="recipe_categories_list">
                <% article.category.forEach(function(category){ %>
                  <li class="single_category"><%= category %></li>
                <% }) %>
          </div>
        </div>
       
        
        <div class="recipe_description_and_action">

          <div class="recipe_description">
            <p>Description and Instruction:</p>
            <p><%= article.description %></p>
          </div>
          
          <div class="recipe_user_action">

            <div class="recipe_comment">
             
              <p>Leave a Comment</p>
              <form action="/articles/<%=article.slug%>/comments" method="POST" class="mb-3 validated-form" novalidate>
                        
                  <div class="recipe_comment_text">
                      <textarea class="recipe_comment_textarea" name="description" id="description"required></textarea>
                      <div class="valid-feedback">
                          Looks good!
                      </div>
                  </div>
                  <button class="comment_button">Submit</button>
              </form>
            </div>
         </div>
        

         
        <div class="recipe_user_display_comments">
          <h4>Comments:</h4>
          <% if(article.comments != '') { %>
          <% for(let comment of article.comments) { %>
            <div class="recipe_comment_display">
                <div class="recipe_comment_display_body">
                    <h5 >User name: </h5>
                    <p class="recipe_comment_display_user"><%= comments.userId %></p>
                    <p class="recipe_comment_display_text"><%= comment.description%></p>
                </div>
                <%  if(comment.userId.equals(currentUser))  {%>
                  <form action="/articles/<%=article.slug%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                      <button class="description_button btn_delete">Delete</button>
                  </form>
                  <% } %>
            </div>
           <% } %>
        <% } %></div>
      </div>
      
        <div class="recipe_btn_group">
          <a href="/articles" class="recipe_description_button btn_all_articles"> All articles</a>
          <% if (article.userId.equals(currentUser)) { %>
          <a href="/articles/edit/<%= article.slug %>" class="recipe_description_button btn_edit"> Edit</a>
          <form action="/articles/<%= article.slug %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class=" recipe_description_button btn_danegr">Delete</button>
          </form>
          <% } %>
        </div>
        
       

       
        <%- include('../includes/end.ejs') %>