<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/stars.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
      <div class="container">
        <h1 class="mb-4">
          <%= article.title %>
        </h1>

        <div class="image">
          <img src="/<%= article.img %>" alt="<%= article.title %>">
        </div>

        <div class="text-muted mb-2 ">
          <%= article.createdAt.toLocaleDateString() %>
        </div> 
        <div class="text-muted mb-2 ">
         Created by: <%= article.userId.email%>
        </div>
        <div>
          <%= article.category %>
        </div>
        <div><%= article.ingredients %></div>

        <div>
          <%= article.description %>
        </div>

        <div class="col-6">
          <% if(isAuthenticated){ %>
          <h2>Leave a Review</h2>
          <form action="/articles/<%=article._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
              <!-- <div class="mb-3">
                  <label class="form-label" for="rating">Rating</label>
                  <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
              </div> -->
              
             
              <fieldset class="starability-basic">
               
                  <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                      aria-label="No rating." />
                  
                  <input type="radio" id="first-rate1" name="rating" value="1" />
                  <label for="first-rate1" title="Terrible">1 star</label>
                  <input type="radio" id="first-rate2" name="rating" value="2" />
                  <label for="first-rate2" title="Not good">2 stars</label>
                  <input type="radio" id="first-rate3" name="rating" value="3" />
                  <label for="first-rate3" title="Average">3 stars</label>
                  <input type="radio" id="first-rate4" name="rating" value="4" />
                  <label for="first-rate4" title="Very good">4 stars</label>
                  <input type="radio" id="first-rate5" name="rating" value="5" />
                  <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
           
              <div class="mb-3">
                  <label class="form-label" for="description">Review Text</label>
                  <textarea class="form-control" name="description" id="description" cols="30" rows="3" required></textarea>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
              </div>
              <button class="btn btn-success">Submit</button>
            
          </form>
          <% } %>

          <% if(article.reviews != '') { %>
          <% for(let review of article.reviews) { %>
         
          <div class="card mb-3 ">
              <div class="card-body">
                  <h5 class="card-title"> <%= review.userId %></h5>
                  <p class="starability-result" data-rating="<%= review.rating%>">
                      Rated: <%= review.rating %> stars 
                  </p>
                  <p class="card-text">Review: <%= review.description%></p>
              </div>
              <%  if( isAuthenticated )  {%>
                <form action="/articles/<%=article._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
                <% } %>
          </div>
          <% } %>
          <% } %>
      </div>
        
        <a href="/articles" class="btn btn-secondary"> All articles</a>
        <% if (isAuthenticated) { %>
        <a href="/articles/edit/<%= article._id %>" class="btn btn-info"> Edit</a>
        <form action="/articles/<%= article._id %>?_method=DELETE" method="POST" class="d-inline">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <% } %>
       

       
        <%- include('../includes/end.ejs') %>