<%- include('../includes/head.ejs') %>
   <link rel="stylesheet" href="/css/categories.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <div class="container">
          <p class="all_categories">Categories</p>
          <% if (isAuthenticated) { %>            
            <a href="/categories/new" class="new_category_button">New Category</a>
            <% } %>
            <div class="all_category_div">

            <% if(categories != '') { %>
              <% categories.forEach(function(category, index) { %>
                <a href="/categories/<%= category.name %> " class="all_category_link">
                  <div class="all_category_img ">
                    <img class="all_category_image" src="/<%= category.img %>" alt="<%= category.name %>" loading="lazy">
                  </div>
                  <div class="all_category_name"><%= category.name %></div>
                </a>
              <% }) %>
                
            <% }else { %>
              <p>No Category Found!</p>
            <% } %>
          
           
          </div>
        </div>
        
         
            <%- include('../includes/end.ejs') %>

